// backend
.block-editor-block-list__layout.is-root-container {
	.is-style-full-screen {
		position: relative;
	}
}

// frontend
body {
	background-color: var(--wp--custom--color--background);
}

.wp-block-post-template {

	.post-meta {
		font-size: var(--wp--preset--font-size--small);
		padding-inline-start: 0;
		padding-inline-end: 0;
	}

	.wp-block-post-title {
		font-size: var(--wp--preset--font-size--medium);
	}

}