/* TABLES */
table {
    background-color: var(--wp--custom--table--color--background);
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    width: 100%;
}

th,
td {
    border-width: 0;
    font-size: var(--wp--custom--table--typography--font-size);
    line-height: var(--wp--custom--table--typography--line-height);
    padding: var(--wp--custom--table--spacing--cell-padding);
    text-align: var(--wp--custom--table--typography--text-align);
    vertical-align: var(--wp--custom--table--typography--vertical-align);
}

th {
    font-weight: var(--wp--custom--table--header--typography--font-weight);
}

td {
    border-top: var(--wp--custom--table--border--width) var(--wp--custom--table--border--style) var(--wp--custom--table--border--color);
}

thead th {
    background-color: var(--wp--custom--table--header--color--background);
    border-bottom: var(--wp--custom--table--header--border--width) var(--wp--custom--table--header--border--style) var(--wp--custom--table--header--border--color);
    vertical-align: var(--wp--custom--table--header--typography--vertical-align);
}

tfoot th {
  border-bottom: inherit;
}

thead:first-child tr:first-child th,
thead:first-child tr-first-child td {
    border-top: 0;
}
