@import '../base/mixins';
/**
 * Button
 * Needs to account for editor style and not overreach
 */
 button:where(:not([role='presentation']):not(.components-button):not([class*="navigation"])), input[type="submit"] {
 	@include button-main-styles;
 	@include button-hover-styles;
 }

 a.button {
	text-decoration: none;
	@include button-main-styles;
 	@include button-hover-styles;
 }
/**
 * Block Options
 */
 .wp-block-button {
	.wp-block-button__link {
		@include button-hover-styles;
		@include button-padding-border-styles;
		text-decoration: none;
    	transition: var(--wp--custom--animation--transition-type) var(--wp--custom--animation--transition-duration);
	}
	&.is-style-outline {
		.wp-block-button__link {
			--wp--custom--button--color--text: var(--wp--custom--button--outline--color--text);
			--wp--custom--button--color--background: transparent;
			--wp--custom--button--border--color: var(--wp--custom--button--outline--border--color);
			--wp--custom--button--hover--color--background: var(--wp--custom--color--background);
			--wp--custom--button--hover--color--text: var(--wp--custom--color--foreground);
			--wp--custom--button--hover--border--color: var(--wp--custom--color--foreground);
			@include button-main-styles;
			@include button-hover-styles;
		}
		
		&.has-text-color {
			border-color: currentColor;
		}
		&:not(.has-text-color) {
			color: var(--wp--custom--button--outline--color--text);

			&:hover, &:focus {
				color: var(--wp--custom--color--interactive-hover);
				--wp--custom--button--border--color: var(--wp--custom--color--interactive-hover);
			}
			&:active {
				color: var(--wp--custom--button--active--color--background);
				--wp--custom--button--color--background: transparent;
				--wp--custom--button--border--color: var(--wp--custom--button--active--color--background);
			}
		}
	}
}

.wp-block-buttons {
	.wp-block-button:last-child {
		margin-bottom: 0;
	}
}

// other specific items that should behave as a button
.wp-block-navigation__responsive-container-open, p.wp-block-post-excerpt__more-text .wp-block-post-excerpt__more-link {
	@include button-main-styles;
	@include button-hover-styles;
	@include button-padding-border-styles;
	text-decoration: none;
	transition: var(--wp--custom--animation--transition-type) var(--wp--custom--animation--transition-duration);
}
