// See https://github.com/WordPress/gutenberg/issues/39052
.wp-block-navigation {
	//defaults
	.wp-block-navigation__responsive-container:not(.has-background) .wp-block-navigation__submenu-container {
		background-color: var(--wp--custom--navigation--submenu--color--background);
	}
	.wp-block-navigation__responsive-container:not(.has-text-color) .wp-block-navigation__submenu-container {
		color: var(--wp--custom--navigation--submenu--color--text);
	}

	// all navigation items on the whole page
	.wp-block-navigation-item {
		text-decoration: var(--wp--custom--navigation--item--text-decoration);

		&:hover, &:focus {
			text-decoration: var(--wp--custom--navigation--hover--text-decoration);
		}
		.wp-block-navigation-item__content {
			border-bottom: var(--wp--custom--navigation--current--border-width) var(--wp--custom--navigation--current--border-style) transparent;
		}
		&.current-menu-item {
			.wp-block-navigation-item__content {
				border-bottom-color: var(--wp--custom--navigation--current--border-color);
				text-decoration: var(--wp--custom--navigation--current--text-decoration);
			}
		}
	}

	// only in the header
	header & {
		.wp-block-navigation-item {
			padding: var(--wp--custom--navigation--item--padding);
	
			.wp-block-navigation-item__content {
				padding: var(--wp--custom--navigation--link--padding);
			}
			&.current-menu-item {
				.wp-block-navigation-item__content {
					background-color: var(--wp--custom--navigation--current--background);
				}
			}
		}
	}
	
	// See https://github.com/WordPress/gutenberg/issues/34648
	.has-child .wp-block-navigation__submenu-container {
		border: var(--wp--custom--navigation--submenu--border--width) var(--wp--custom--navigation--submenu--border--style) var(--wp--custom--navigation--submenu--border--color);
		min-width: 200px; // matches WordPress preset
		max-height: 0;
		overflow: hidden !important;
		transition: all 0.5s;
		width: auto;

		.wp-block-navigation-item {
			display: block;
			position: relative;
		}

		.wp-block-navigation-item__content {
			display: inline-block;
		}

		.wp-block-navigation-submenu__toggle {
			position: absolute;
			top: .5em;
			right: 0;
		}

		// nested submenu
		.wp-block-navigation__submenu-container {
			background-color: rgba(0,0,0,.1) !important;
			position: relative;
			right: auto !important;
		}
	}

	&.is-vertical {
		.wp-block-navigation__container {
			gap: 5px;
		}
	}

	// toggle behavior
	.wp-block-navigation-submenu__toggle svg {
		transform: rotateZ(-90deg);
		transition: all 0.5s;
	}
		.wp-block-navigation-submenu__toggle[aria-expanded=true] svg {
			transform: rotateZ(0deg);
		}


	// expanded menu
	.has-child .wp-block-navigation-submenu__toggle[aria-expanded=true]+.wp-block-navigation__submenu-container {
		max-height: 800px;
	}

	// only large screens
	@include break-medium() {
		.has-child:hover > .wp-block-navigation__submenu-container {
			max-height: 800px;
		}

		.has-child:hover > .wp-block-navigation-submenu__toggle svg {
			transform: rotateZ(0deg);
		}
	}


// responsive menu
	&.is-responsive {

		&:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
			background-color: var(--wp--custom--color--background);
			color: var(--wp--custom--color--background);
			padding-left: var(--wp--custom--gap--horizontal);
			padding-right: var(--wp--custom--gap--horizontal);
		}

		ul.wp-block-social-links {
			margin: 0;
			gap: var(--wp--custom--gap--baseline);
		}

		.wp-block-navigation__responsive-container-close {
			right: var(--wp--custom--gap--horizontal);
		}
	}

	// responsive menu open
	&.is-responsive .is-menu-open {
		font-size: var(--wp--preset--font-size--medium);

		.wp-block-navigation__responsive-container-content {
			align-items: var(--navigation-layout-justification-setting, flex-start);
			justify-content: space-between;
			flex-wrap: nowrap;

			.wp-block-navigation-item {
				width: 100%;
				display: block;
			}

			.wp-block-navigation-item__content {
				display: inline-block;
			}

			.wp-block-navigation-submenu__toggle {
				display: inline-block;
				width: 22px;
				height: 22px;

				svg {
					width: 16px;
					height: 16px;
				}
			}
		}

		.wp-block-navigation__container {
			align-items: var(--navigation-layout-justification-setting, flex-start);
			row-gap: 0.5rem;
			padding-bottom: 0;
			width: 100%;
		}

		.wp-block-navigation-item {
			align-items: var(--navigation-layout-justification-setting, flex-start);
		}

		.wp-block-navigation__submenu-container {
			padding-top: 0;
		}

		.wp-block-navigation__responsive-container-content .has-child { // Needed for specificity to beat the navigation block CSS

			.wp-block-navigation__submenu-container {
				font-size: var(--wp--preset--font-size--normal);
				padding-bottom: 0;
				padding-left: var(--wp--custom--gap--horizontal);
				row-gap: 0.5rem;
				width: 100%;
			}
		}

		ul.wp-block-social-links {
			justify-content: flex-start;
		}
	}
}
