/** Navigation **/
// See https://github.com/WordPress/gutenberg/issues/39052
.wp-block-navigation {

	.wp-block-navigation-container, .wp-block-page-list {
		&:where(:not(.has-text-color)) {
			.wp-block-navigation-item {
				color: var(--wp--custom--color--foreground);
			}
		}

		@include break-small-only() {
			// override wordpress default
			gap: 0;
		}
	}

	// all navigation items on the whole page
	.wp-block-navigation-item {
		padding: var(--wp--custom--navigation--item--padding);
		
		.wp-block-navigation-item__content {
			border-bottom: var(--wp--custom--navigation--hover--border--width) var(--wp--custom--navigation--hover--border--style) transparent;	
			text-decoration: var(--wp--custom--navigation--item--text-decoration);
			padding: var(--wp--custom--navigation--link--padding);
		}

		&:hover, &:focus {
			
			& > .wp-block-navigation-item__content {
				border-color: var(--wp--custom--navigation--hover--border--color);
				text-decoration: var(--wp--custom--navigation--hover--text-decoration);
			}
		}
		
		// all current menu items and current menu ancestors
		// placement of ancestor class is inconsistent based on type of menu
		&.current-menu-item, &.current-menu-ancestor, &:has(> .current-menu-ancestor) {
			& > .wp-block-navigation-item__content {
				background-color: var(--wp--custom--navigation--current--color--background);
				border-color: var(--wp--custom--navigation--current--border--color);
				font-weight: bold;
				text-decoration: var(--wp--custom--navigation--current--text-decoration);
			}
		}

		.wp-block-navigation__submenu-icon {
			background-color: transparent;
	
			svg {
				stroke: currentColor;
			}
		}

	}

	// has a submenu
	.wp-block-navigation-item.has-child {
		transition: all 0.3s;
		color: currentColor;

		// any nested menu items within the submenu
		.wp-block-navigation-item {
			width: 100%;
			
			.wp-block-navigation-item__content {
				border-bottom-width: 0;
			}

		}

		// toggle behavior
		.wp-block-navigation__submenu-icon svg {
			transform: rotateZ(-90deg);
			transition: all 0.5s;
		}

		&:hover > .wp-block-navigation-submenu__toggle svg {
			transform: rotateZ(0deg);
		}
		// the first is for on-hover where the svg is contained, the second is for on-click where the svg is adjacent
		.wp-block-navigation-submenu__toggle[aria-expanded=true] .wp-block-navigation__submenu-icon svg, 
		.wp-block-navigation-submenu__toggle[aria-expanded=true] + .wp-block-navigation__submenu-icon svg {
			transform: rotateZ(0deg);
			color: currentColor;
		}

		// only on desktop, set the colors of the submenu container if none are selected
		@include break-small() {
			.wp-block-navigation__submenu-container {
				&:not(.has-background) {
					.wp-block-navigation-item {
						background-color: var(--wp--custom--navigation--submenu--color--background);
					}
				}
		
				&:not(.has-text-color) {
					.wp-block-navigation-item {
						color: var(--wp--custom--navigation--submenu--color--text);
					}
				}
			}
		}

		// will open on hover or click (basic link)
		&.open-on-hover-click {

			// only on desktop
			@include break-small() {

				&:hover, &:focus {
					background-color: var(--wp--custom--navigation--submenu--color--background);

					& > .wp-block-navigation-item__content {
						color: var(--wp--custom--navigation--submenu--color--text);
					}
		
					.wp-block-navigation__submenu-icon svg {
						stroke: var(--wp--custom--navigation--submenu--color--text);
					}
				}	

				// nested within the submenu
				.open-on-hover-click {
		
					&:hover, &:focus {
	
						& > .wp-block-navigation-item__content {
							color: currentColor;
						}
			
						.wp-block-navigation__submenu-icon svg {
							stroke: currentColor;
						}
					}	
				}
			}
		}
			

		// will only open on click (button)
		&.open-on-click {
			// override padding on the list item and move it down into the button
			padding: 0; 

			& > .wp-block-navigation-item__content {
				border: 0; // override border on the button and move it down into the span
				padding: var(--wp--custom--navigation--item--padding);
				padding-inline-end: var(--wp--preset--spacing--20);

				span {
					border-bottom: var(--wp--custom--navigation--hover--border--width) var(--wp--custom--navigation--hover--border--style) transparent;
					display: inline-block; // to be able to add padding
					padding: var(--wp--custom--navigation--link--padding);
				}	
			
				// only on desktop
				@include break-small() {
					&[aria-expanded="true"] {
						background-color: var(--wp--custom--navigation--submenu--color--background);
						color: var(--wp--custom--color--background);

						& + .wp-block-navigation__submenu-icon svg {
							color: var(--wp--custom--color--background);
						}
					}
	
					&:hover, &:focus {
						span {
							border-bottom-color: var(--wp--custom--navigation--hover--border--color);
						}
					}
				}
				
			}
			// move these styles down into the button also
			&.current-menu-item, &.current-menu-ancestor, &:has(> .current-menu-ancestor){
				& > .wp-block-navigation-item__content span {
					background-color: var(--wp--custom--navigation--current--color--background);
					border-color: var(--wp--custom--navigation--current--border--color);
					text-decoration: var(--wp--custom--navigation--current--text-decoration);
				}
			}

			.wp-block-navigation__submenu-icon {
				color: currentColor;
			}
		}		
	
		// See https://github.com/WordPress/gutenberg/issues/34648
		.wp-block-navigation__submenu-container {
			border: var(--wp--custom--navigation--submenu--border--width) var(--wp--custom--navigation--submenu--border--style) var(--wp--custom--navigation--submenu--border--color);
			width: auto;

			.wp-block-navigation-item {
				display: block;
				position: relative;

				&:hover, &:focus {
					& > .wp-block-navigation-item__content {
						text-decoration: var(--wp--custom--navigation--submenu--text-decoration);
					}
				}
			}

			.wp-block-navigation-item__content {
				display: inline-block;	
				width: 100%;
			}

			// parent of a nested submenu container
			.wp-block-navigation-item.has-child {

				& > .wp-block-navigation-item__content {
					// do not include a border on nested submenus
					border: 0;
					// to account for the arrow next to the button
					width: calc(100% - 10px);
				}

				&.open-on-hover-click {
					// this allows the sub-submenus to align properly by moving all padding to the content
					padding: 0;

					& > .wp-block-navigation-item__content {
						// if you alter navigation padding in theme.json, alter this to match
						padding: var(--wp--preset--spacing--10);
					}

					.wp-block-navigation__submenu-icon {
						// make this match the icon styling of on-click
						margin: 0;
					}
				}

				&.open-on-click {
					& > .wp-block-navigation-item__content {
						span {							
							border-bottom-width: 0;
						}
					}

					// do not adopt the same current-menu-item behaviors of the main nav
					&.current-menu-item, &.current-menu-ancestor, &:has(> .current-menu-ancestor) {
						& > .wp-block-navigation-item__content span {
							border: 0;
							text-decoration: none;
						}
					}
				}				
			}

			// nested submenu
			.wp-block-navigation__submenu-container {
				background-color: inherit; // keep the background color from the main submenu
				border: 0; // do not inherit the borders from the main submenu
				position: relative;
				right: auto !important;
				left: 0;

				.wp-block-navigation-item__content {
					color: currentColor;
				}

				@include break-small {
					.wp-block-navigation-item {
						background-color: rgba(0,0,0,.2) !important;
					}
				}
			}
		}
	}

	&.is-vertical {
		.wp-block-navigation__container {
			gap: 5px;
		}
	}

	// only large screens
	@include break-small() {

		.has-child:hover > .wp-block-navigation-submenu__toggle svg {
			transform: rotateZ(0deg);
		}
	}


	// responsive menu (collapses to icon on mobile)
	&.is-responsive {

		ul.wp-block-social-links {
			margin: 0;
			gap: var(--wp--custom--gap--baseline);
		}
	}

	// responsive menu container
	.wp-block-navigation__responsive-container {
			
		.wp-block-navigation__responsive-container-content {

			& .has-child { // Needed for specificity to beat the navigation block CSS

				.wp-block-navigation__submenu-container {			
					padding: 0 !important; // override WP defaults
					width: 100%;
					
				}
			}
		}

		ul.wp-block-social-links {
			justify-content: flex-start;
		}

		// only when menu is in use
		&.is-menu-open {
			// default backgrounds, text colors, and settings
			&:not(.has-background) {
				background-color: var(--wp--custom--color--background);
				color: var(--wp--custom--color--foreground);
				padding-inline-start: var(--wp--custom--gap--horizontal);
				padding-inline-end: var(--wp--custom--gap--horizontal);
			}
			&:not(.has-text-color) {
				.wp-block-navigation-item__content {
					color: var(--wp--custom--color--foreground);
				}
			}
		}

		// only on mobile
		@include break-small-only() {
			font-size: var(--wp--preset--font-size--emphasis);

			.wp-block-navigation {
				font-size: var(--wp--preset--font-size--emphasis);
			}	

			.wp-block-navigation__submenu-container {
				font-size: var(--wp--preset--font-size--normal);
			}

			// override default WP styles so the padding doesn't change
			&.is-menu-open {
				.wp-block-navigation-item:where(:not(.open-on-click)) {
					padding: var(--wp--custom--navigation--item--padding);

					.wp-block-navigation-item__content {
						padding: var(--wp--custom--navigation--link--padding);
					}
				}

				// Keep the menu toggle behavior on mobile
				.wp-block-navigation__responsive-container-content {
					// make mobile menu alignment left, even if they're supposed to be aligned right on desktop
					.wp-block-navigation__container{
						width: 100%;
						&.items-justified-right {
							align-items: flex-start !important;

							.wp-block-navigation-item {
								align-items: flex-start !important;
							}
						}
					}
					.wp-block-navigation-item {
						display: block;
						width: 100%;
					}
					.has-child {
						.wp-block-navigation__submenu-container {
							height: 0;
							overflow: hidden;
						}

						&.open-on-click {
							& > [aria-expanded="true"] ~ .wp-block-navigation__submenu-container {
								height: auto;
							}
						}

						&.open-on-hover-click {

							& > [aria-expanded="true"] ~ .wp-block-navigation__submenu-container, &:hover > .wp-block-navigation__submenu-container, &:focus > .wp-block-navigation__submenu-container  {
								height: auto;
							}

						}
					}

					.wp-block-navigation__submenu-icon {
						display: inline-block;
					}

				}
				
			}

			.wp-block-navigation__container, .wp-block-page-list {
				min-width: none;
				width: 100%;	
			}

			.wp-block-navigation-item {
				padding: 0 !important; // overriding the defaults we just set above
				width: 100%;

				& > .wp-block-navigation-item__content {
					border-bottom: 0;
					border-left-color: transparent;
					border-left-width: 3px !important;
					border-left-style: solid !important;
					// if you alter navigation padding in theme.json, alter this to match
					padding-inline-start: var(--wp--preset--spacing--10) !important;
					width: 100%;

					// move these styles back up into the main content for consistenct in mobile
					span {
						border: 0 !important;
						padding-inline-start: 0 !important;
					}	
				}

				&.current-menu-item, &.current-menu-ancestor, &:has(> .current-menu-ancestor) {
					& > .wp-block-navigation-item__content{
						border-left-color: var(--wp--custom--navigation--current--border--color);
					}

					&:not(.has-text-color) {
						& > .wp-block-navigation-item__content{
							color: var(--wp--custom--navigation--current--border--color);
						}
					}					
				}

				&:hover, &:focus {
					// override WordPress default styles
					& > .wp-block-navigation-item__content {
						background-color: rgba(0,0,0,.1);
					}	
				}

				// nested menu items
				.wp-block-navigation-item {
					
					& > .wp-block-navigation-item__content{
						padding-inline-start: var(--wp--preset--spacing--50) !important;
						border-left: 0 !important;
					}	

					.wp-block-navigation-item {
						& > .wp-block-navigation-item__content{
							padding-inline-start: var(--wp--preset--spacing--60) !important;
						}	
					}

				}
			}

			.wp-block-navigation__submenu-icon {
				position: absolute;
				right: 0;
				top: .75em;
			}
		}
	}

	// other elements inside navigation
	.wp-block-search {
		.wp-block-search__button {
			padding: .25em .5em;
		}
		@include break-small-only() {
			width: 100%;
		}
	}

	.wp-block-buttons {
		color: var(--wp--custom--button--outline--text--color);
		.wp-block-button, .wp-block-button__link {
			@include break-small-only() {
				width: 100%;
			}
		}
	}
}