.alicorn-query {
    .wp-block-post-template:where(:not(.is-layout-grid)) {
       
       .wp-block-post-featured-image {
          margin: 0;
       }
       .alicorn-query__group {
          display: flex;
          flex-direction: column;
          gap: var(--wp--preset--spacing--20);       
       }
 
       .alicorn-query__body {
          margin-block-start: 0;
       }
       // $break-small
       @media only screen and (min-width: 600px ) {
          .wp-block-post-featured-image {
             max-width: 50%;
          }
          .alicorn-query__group {
             flex-direction: row;
          }
       }
       
    }
 }

 .alicorn-card {
   border: var(--wp--custom--tokens--border-width--card) solid var(--wp--custom--color--card-border);
   border-radius: var(--wp--custom--tokens--border-radius--card);
   overflow: hidden;
   padding: var(--wp--custom--tokens--block-spacing--card) var(--wp--custom--tokens--inline-spacing--card);

   .wp-block-post-featured-image {
      margin-block-start: calc(-1 * var(--wp--custom--tokens--block-spacing--card));
      margin-inline-end: calc(-1 * var(--wp--custom--tokens--inline-spacing--card)) !important;
      margin-inline-start: calc(-1 * var(--wp--custom--tokens--inline-spacing--card)) !important;
      width: calc(100% + (2 * var(--wp--custom--tokens--inline-spacing--card)));
   }
 }

 .alicorn-list {
   .wp-block-post-featured-image {
      border-radius: var(--wp--custom--tokens--border-radius--card);
   }
 }