// Quote
.wp-block-quote {
	// this is redundant in theme.json but the WP core values are overriding theme.json
	border-color: var(--wp--custom--quote--border--color);
	border-width: var(--wp--custom--quote--border--width);
	padding-left: var(--wp--custom--quote--spacing--padding--left);
	margin-block-end: var(--wp--custom--gap--vertical);

	&.is-style-plain {
		border: 0;
		padding: 0;
	}

	cite {
		font-size: var(--wp--custom--quote--citation--typography--font-size);
		font-style: var(--wp--custom--pullquote--citation--typography--font-style);
		font-weight: var(--wp--custom--pullquote--citation--typography--font-weight);
	}
}

// Pullquote
.wp-block-pullquote.is-style-solid-color,
.wp-block-pullquote {
	text-align: var(--wp--custom--pullquote--typography--text-align);
	blockquote {
		padding: 0;
		margin: 0;
		p {
			font-size: 1em;
			padding: 0;
			margin: 0;
			line-height: inherit;
		}

		.wp-block-pullquote__citation, // For the editor
		cite {
			display: block;
			font-family: var(--wp--custom--pullquote--citation--typography--font-family);
			font-size: var(--wp--custom--pullquote--citation--typography--font-size);
			font-style: var(--wp--custom--pullquote--citation--typography--font-style);
			font-weight: var(--wp--custom--pullquote--citation--typography--font-weight);
			margin-block-start: var(--wp--custom--pullquote--citation--spacing--margin--top);
		}
	}

	&.is-style-solid-color {
		background-color: var(--wp--custom--color--background);
		color: var(--wp--custom--color--foreground);
	}
}
