// Tables
.wp-block-table {
	table {
		border: var(--wp--custom--table--border--width) var(--wp--custom--table--border--style) var(--wp--custom--table--border--color);
	}
	
	figcaption { // See https://github.com/WordPress/gutenberg/issues/34650
		color: var(--wp--preset--color--foreground);
		font-size: var(--wp--custom--table--figcaption--typography--font-size);
		text-align: center;
	}

	td, th {
		// See https://github.com/WordPress/gutenberg/issues/31261
		background-color: var(--wp--custom--table--color--background);
		border-color: inherit;
		font-size: var(--wp--custom--table--typography--font-size);
		font-weight: var(--wp--custom--table--typography--font-weight);
		hyphens: auto;
		min-width: var(--wp--custom--table--spacing--cell-min-width);
		padding: var(--wp--custom--table--spacing--cell-padding);
		text-align: var(--wp--custom--table--typography--text-align);
		vertical-align: var(--wp--custom--table--typography--vertical-align);	
		word-break: break-word;
	}

	thead {
		border-width: inherit;
		border-color: inherit;
		th {
			background-color: var(--wp--custom--table--header--color--background);
			font-weight: var(--wp--custom--table--header--typography--font-weight);
			vertical-align: var(--wp--custom--table--header--typography--vertical-align);
		}
	}

	tfoot {
		border-top-width: inherit;
		font-weight: var(--wp--custom--table--header--typography--font-weight);
	}

	table[style*=border-width] {
		td, th {
			border-style: var(--wp--custom--table--border--style);
		}
	}

	table[class*=border-color] {
		td, th {
			border-color: inherit !important;
		}
	}

	table[class*=background-color] {
		thead {
			th {
				background-color: var(--wp--custom--color--traslucent);
			}
		}
	}
}

.wp-block-table.is-style-stripes {
	
	tr:nth-child(odd) {
		background-color: var(--wp--preset--color--translucent-subtle) !important;
		th {
			background-color: rgba(0,0,0,.1);
		}
	}
}

.wp-block-table.is-style-alicorn-table-borderless, .wp-block-table.is-style-alicorn-table-invisible {
	border-width: 0;
	table {
		border-width: 0;
	}

	td, th {
		border: 0 var(--wp--custom--table--border--style) var(--wp--custom--table--border--color);
		border-bottom-width: var(--wp--custom--table--border--width);
	}

	thead {
		border-width: inherit;
		th {
			background-color: transparent;
			border: 0 var(--wp--custom--table--header--border--style) var(--wp--custom--table--header--border--color);
			border-bottom-width: var(--wp--custom--table--header--border--width);
		}
	}

	table[style*=border-width] {
		border-top-width: 0 !important;
		border-left-width: 0 !important;
		border-right-width: 0 !important;
	}
	
}

.wp-block-table.is-style-alicorn-table-invisible {
	border-width: 0;
	table {
		border-width: 0;
	}

	td, th {
		border: 0 var(--wp--custom--table--border--style) var(--wp--custom--table--border--color);
	}

	thead {
		border-width: inherit;
		th {
			background-color: transparent;
			border: 0 var(--wp--custom--table--header--border--style) var(--wp--custom--table--header--border--color);
		}
	}	
}

.wp-block-table.is-style-alicorn-table-borderless {

	td, th {
		border-bottom-width: var(--wp--custom--table--border--width);
	}

	thead {
		th {
			border-bottom-width: var(--wp--custom--table--header--border--width);
		}
	}

	table[style*=border-width] {
		border-top-width: 0 !important;
		border-left-width: 0 !important;
		border-right-width: 0 !important;
	}
	
}

.wp-block-table.is-style-alicorn-table-invisible {
	table[style*=border-width] {
		border-width: 0 !important;
	}
}