.wp-block-table.is-style-stripes,
.wp-block-table {
	figcaption { // See https://github.com/WordPress/gutenberg/issues/34650
		color: var(--wp--preset--color--foreground);
		font-size: var(--wp--custom--table--figcaption--typography--font-size);
		text-align: center;
	}

	td, th {
		// See https://github.com/WordPress/gutenberg/issues/31261
		border: 1px solid;
		padding: var(--wp--preset--spacing-10) var(--wp--preset--spacing-10);
	}

	border-bottom: none;
}

.wp-block-table.is-style-stripes {
	tbody {
		tr:nth-child(odd) {
			background-color: var(--wp--custom--table--striped--color--background);
		}
	}
}
