.wp-site-blocks .site-header {

	// Needed until Gutenberg offers responsive design options
	// Put all mobile-only header options here
	@include break-small-only(){
		.site-brand {
			display: contents;
		}
	}

}

.wp-block-site-logo {
	img {
		max-height: 200px;
		width: auto;
		transition: all 0.3s;
	}
}

.header-sticky {
	overflow: visible;
	padding-top: 0;
	padding-bottom: 0;
	position: sticky; // for header scroll
	top: 0;
 	width: 100%;
 	z-index:999;

	.admin-bar & {
		top:var(--wpadmin-bar--height);
	}


	&.block-editor-block-list__block {
		position: relative;
	}

	.site-header {
		transition: all 0.3s;
	}

	&.header-sticky-scroll {
		.site-header__main {
			padding-block: var(--wp--preset--spacing--05) !important;
		}

		.site-header__quicklinks {
			padding-block: 0 !important;
		}

		.wp-block-site-logo {
			img {
				max-height: 60px;
				width: auto;
			}
		}

		@include break-small-only(){
			.site-header__quicklinks {
				height:0;
				overflow: hidden;
			}
		}
	}
}
