:root {
	--wpadmin-bar--height: 46px;
	@include break-small() {
		--wpadmin-bar--height: 32px;
	}

	// Override core block settings
	:where(.is-layout-flow) > *, :where(.is-layout-constrained) > * {

		& > :first-child:first-child {
			margin-block-start: 0;
		}

		& > :last-child:last-child {
			margin-block-end: 0;
		}	
	}
}

body.admin-bar {

	.wp-site-blocks {
		min-height: calc( 100vh - var(--wpadmin-bar--height) );
		margin-top: var(--wpadmin-bar--height);
	}
}

// Override core block settings
// needs to be oddly specific to match core gap and spacing settings
:where(.is-layout-flow) > *, :where(.is-layout-constrained) > * {
	margin-block-end: none;

	& > :first-child:first-child {
		margin-block-start: 0;
	}

	& > :last-child:last-child {
		margin-block-end: 0;
	}
}

// ignore these margins within the header and footer of the page
header.wp-block-template-part, .site-header, footer.wp-block-template-part, .site-footer {
	.is-layout-flow > *, .is-layout-constrained > * {
		margin-block-start: 0;
		margin-block-end: 0;
	}
}

.wrapper {
	position: relative;
}


.sticky-header-enabled {
	#wpadminbar {
		@include break-medium-only() {
			position: fixed;
		}
	}
}

.wp-block-template-part {
	clear: both;
	overflow: visible;
}

.content-body {
	margin-top: 0 !important;
}