<!-- wp:group {"className":"wrapper"} -->
<div class="wp-block-group wrapper">
	<!-- wp:template-part {"slug":"header","tagName":"header","className":"header-sticky"} /-->
	<!-- wp:group {"tagName":"section","className":"content-body"} -->
	<section class="wp-block-group content-body">
		<!-- wp:group {"className":"content-header","layout":{"inherit":true}} -->
		<div class="wp-block-group content-header">
			<!-- wp:heading {"level":1,"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|30"}}}} -->
			<h1 id="oops-that-page-can-t-be-found" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--30)">Oops! That page can’t be found.</h1>
			<!-- /wp:heading -->
		</div>
		<!-- /wp:group -->
		<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"className":"content-main","tagName":"main","layout":{"type":"constrained"},"lock":{"move":true,"remove":true}} -->
		<main class="wp-block-group content-main" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40)">
			<!-- wp:group {"className":"entry-content","layout":{"inherit":true}} -->
			<div class="wp-block-group entry-content">			
				<!-- wp:paragraph -->
				<p>It looks like nothing was found at this location. Maybe try a search?</p>
				<!-- /wp:paragraph -->
				<!-- wp:search {"label":""} /-->
			</div>
			<!-- /wp:group -->
		</main>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->
</div>
<!-- /wp:group -->
