<!-- wp:group {"className":"wrapper","lock":{"move":true,"remove":true}} -->
<div class="wp-block-group wrapper">
  <!-- wp:template-part {"slug":"header","tagName":"header","className":"header-sticky"} /-->
  <!-- wp:group {"tagName":"section","className":"content-body","lock":{"move":true,"remove":true}} -->
  <section class="wp-block-group content-body">
    <!-- wp:group {"className":"content-header","layout":{"inherit":true}} -->
    <div class="wp-block-group content-header">
      <!-- wp:post-title {"level":1,"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|70"}}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"tagName":"main","className":"content-main","lock":{"move":true,"remove":true}} -->
    <main class="wp-block-group content-main">
    <!-- wp:post-featured-image {"align":"full"} /-->

    <!-- wp:post-content {"layout":{"inherit":true}} /-->
    </main>
    <!-- /wp:group -->
  </section>
  <!-- /wp:group -->
  <!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->
</div>
<!-- /wp:group -->
