<!-- wp:group {"className":"wrapper","lock":{"move":true,"remove":true}} -->
<div class="wp-block-group wrapper">
  <!-- wp:template-part {"slug":"header","tagName":"header","className":"header-sticky"} /-->
  <!-- wp:group {"tagName":"section","className":"content-body","lock":{"move":true,"remove":true}} -->
  <section class="wp-block-group content-body">
    <!-- wp:group {"className":"content-header","layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group content-header"><!-- wp:post-featured-image {"align":"full"} /-->

      <!-- wp:post-title /--></div>
      <!-- /wp:group -->
      
      <!-- wp:pattern {"slug":"alicorn/post-meta-icons"} /-->
      
      <!-- wp:post-content {"layout":{"inherit":true}} /--></main>
      <!-- /wp:group -->

    <!-- wp:pattern {"slug":"alicorn/comments"} /-->
  </section>
  <!-- /wp:group -->
  <!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->
</div>
<!-- /wp:group -->
