<!-- wp:group {"lock":{"move":true,"remove":true},"metadata":{"name":"Wrapper"},"className":"wrapper"} -->
<div class="wp-block-group wrapper">
  <!-- wp:template-part {"slug":"header-quicklinks","theme":"alicorn","tagName":"header","className":"header-sticky"} /-->
  <!-- wp:group {"lock":{"move":true,"remove":true},"metadata":{"name":"Body"},"className":"content-body"} -->
<div class="wp-block-group content-body">
  <!-- wp:group {"metadata":{"name":"Content Header"},"className":"content-header","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"layout":{"inherit":true,"type":"constrained"}} -->
  <div class="wp-block-group content-header" style="margin-bottom:var(--wp--preset--spacing--40)">
    <!-- wp:post-featured-image {"aspectRatio":"auto","height":"40vh","align":"full"} /-->
    <!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|10"}}}} /-->
    <!-- wp:pattern {"slug":"alicorn/post-meta-icons"} /-->
    </div>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"main","lock":{"move":true,"remove":true},"metadata":{"name":"Content Main"},"className":"content-main","style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group content-main" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--40)">
      <!-- wp:post-content {"layout":{"inherit":true}} /-->
    </main>
    <!-- /wp:group -->
    <!-- wp:pattern {"slug":"alicorn/comments"} /-->
  </div>
  <!-- /wp:group -->
  <!-- wp:template-part {"slug":"footer-columns","theme":"alicorn","tagName":"footer","className":"site-footer-container"} /-->
</div>
<!-- /wp:group -->