// Needed until https://github.com/WordPress/gutenberg/issues/35267 is resolved.
.entry-content, .wp-block-post-content { // Only apply these rules in the post content.
	clear: both;
	overflow: visible;

	p.wp-block.wp-block-paragraph, // This selector has been made extra specific to override the block gap being set in the editor.
	*[class^="wp-container"] > * + p,
	*[class^="wp-container"] > p + *,
	p {
		margin-block-start: var(--wp--custom--gap--baseline);
		margin-block-end: var(--wp--custom--gap--baseline);
	}

	& > h1, & > h2 {
		&:first-child {
			margin-block-start: var(--wp--preset--spacing--40);
		}
	}

	& > h3, & > h4, & > h5, & > h6 {
		&:first-child {
			margin-block-start: var(--wp--custom--gap--vertical);
		}
		
	}

	[class*="wp-block"] {
		// alignment inside another block
		h1, h2, h3, h4, h5, h6, ol, ul, p {
			&:first-of-type {
				margin-block-start: 0;
			}
		}
	}
}
