// Needed until https://github.com/WordPress/gutenberg/issues/35267 is resolved.
.wp-block-post-content { // Only apply these rules in the post content.
	clear: both;
	overflow: visible;

	p.wp-block.wp-block-paragraph, // This selector has been made extra specific to override the block gap being set in the editor.
	*[class^="wp-container"] > * + p,
	*[class^="wp-container"] > p + *,
	p {
		margin-top: var(--wp--custom--gap--vertical);
		margin-bottom: var(--wp--custom--gap--vertical);
	}

	// to help with typographic alignment
	h1, h2, h3, h4, h5, h6, p, ol, ul {
		&:first-of-type {
			margin-block-start: 0;
		}
	}
}
